@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
.logo{ 
    font-size: 43pt;
    color: #3cc3b5;
    font-family: 'Lobster', cursive;
}
input{
    padding: 0 10px;
    outline: none;
    height: 30px;
    width: 100%;
    max-width: 435px;
    border: 1px solid #e1e1e1;
}