.menuToggle {
    position: fixed;
    top: 40px;
    left: 40px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    z-index: 100;
    transition: all 0.22s ease-in;
}
.menuToggle:hover {
    opacity: .7;
}
.menuToggle.open {
    left: 320px;
}